@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --colorHead:#ddeeff;
    --colorBody:#ddffdd;
    --colorLineas:#aaaaaa;
    --colorPHP:#5cffc9;
    --Tama単oLineas:3px;
}
div{
    display: block !important;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}
table{
    text-align: center;
    font-size: 48px;
}
[data-numero]::before {
    content: attr(data-numero);
}
table thead tr th{
    font-weight: normal;
    background: var(--colorHead);
    outline: var(--Tama単oLineas) solid var(--colorLineas);
}

table thead tr:nth-of-type(1) th{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 10px;
}
table thead tr:nth-of-type(2) th{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
table tbody tr th{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: var(--colorHead);
    outline: var(--Tama単oLineas) solid var(--colorLineas);
}
table tbody tr, td{
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: var(--colorBody);
    outline: var(--Tama単oLineas) solid var(--colorLineas);
}
#miRespuestaPHPAND td,
#miRespuestaPHPOR td,
#miRespuestaPHPXORA td{
    background: var(--colorPHP);
    padding: 0 15px;
}
#miRespuestaPHPAND td,
#miRespuestaPHPOR td,
#miRespuestaPHPXORA td{
    outline: 0px;
}